html,
body {
  width: 100%;
  height: 100%;
  font-family: IBMPlexSans, Arial, sans-serif;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
button,
cite,
code,
del,
dfn,
em,
img,
input,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.woff2') format('woff2'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
}
{
  width: 100%;
  height: auto;
  background: #dbe0e5;
}
.header {
  width: 100%;
  height: 48px;
  position: fixed;
  background: #ffffff;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  top: 0;
  z-index: 1;
}
.header .logo {
  height: 32px;
  background: url("../images/logo.png") no-repeat;
  background-size: 32px 32px;
  background-position: left center;
  padding-left: 35px;
  line-height: 32px;
  flex-grow: 0;
  margin-right: 16px;
}
.header .search {
  flex-grow: 1;
  margin: 0 auto;
  max-width: 690px;
  position: relative;
  display: flex;
  display: -webkit-flex;
}
.header .search .s-logo {
  width: 18px;
  height: 18px;
  background: url("../images/search.png") no-repeat;
  background-size: cover;
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -9px;
  left: 15px;
}
.header .search .s-input {
  flex-grow: 1;
  -webkit-appearance: none;
  appearance: none;
  background-color: #f6f7f8;
  border-radius: 4px;
  border: 1px solid #edeff1;
  box-shadow: none;
  color: #c1c1c1;
  display: block;
  height: 36px;
  outline: none;
  padding: 0 16px 0 40px;
  width: 100%;
}
.header .btns {
  flex-grow: 0;
  margin-left: 16px;
  margin-right: 10px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.header .btns .login-btn {
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  border-color: #0079d3;
  color: #0079d3;
  fill: #0079d3;
  display: inline-block;
}
.header .btns .login-btn:nth-child(1) {
  margin-right: 5px;
}
.header .btns .login-btn:nth-child(2) {
  margin-right: 10px;
}
.header .btns .user {
  width: auto;
  height: 24px;
  background: url("../images/avatar.png") no-repeat;
  background-size: 24px 24px;
  background-position: left center;
  padding-left: 20px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.header .btns .user::after {
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid #878a8c;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  margin-top: 5px;
  margin-left: 10px;
}
.trending {
  width: 100%;
  height: 260px;
  max-width: 1020px;
  margin: 48px auto 0 auto;
  padding: 16px 24px 0;
  box-sizing: border-box;
}
.trending .title {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #1a1a1b;
  text-transform: unset;
}
.trending .list {
  margin-top: 20px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}
.trending .list .item {
  list-style: none;
  width: 208px;
  height: 178px;
  border-radius: 8px;
  background-image: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1585980722642&di=1a0a6170add2664e4a403ee57dd8d2a4&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201608%2F13%2F20160813213133_cvUsi.jpeg");
  background-size: 100% 100%;
  position: relative;
}
.trending .list .item .mask {
  position: absolute;
  color: #ffffff;
  background-image: linear-gradient(0deg, #000, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0.2));
  padding: 12px;
  border-radius: 8px;
}
.trending .list .item .mask .m-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 75px;
}
.trending .list .item .mask .desc {
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: inline-block;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
  max-height: 40px;
  display: -webkit-inline-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.trending .list .item .mask .catgory {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  -ms-flex-positive: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 4px;
  display: inline-block;
  vertical-align: top;
}
.trending .list .item .mask .catgory .m-img {
  box-sizing: border-box;
  display: inline-block;
  height: 16px;
  margin-right: 8px;
  vertical-align: middle;
  width: 16px;
}
.content {
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 48px auto 0;
  padding: 20px 24px;
}
.content .left {
  width: 640px;
  padding-bottom: 10px;
}
.content .left .c-l-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #1a1a1b;
  text-transform: unset;
  padding-bottom: 10px;
}
.content .left .c-l-header {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  height: 56px;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 16px;
  padding: 0 12px;
}
.content .left .c-l-header .btn-iconfont {
  display: flex;
  display: -webkit-flex;
}
.content .left .c-l-header .hot {
  background: #f6f7f8;
  color: #0079d3;
  fill: #0079d3;
  border-radius: 20px;
  height: 32px;
  line-height: 32px;
  margin-right: 8px;
  padding: 0 10px;
}
.content .left .c-l-header .addr {
  border-radius: 20px;
  height: 32px;
  margin-right: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #0079d3;
  outline: none;
  padding: 0 15px;
  line-height: 32px;
  background: #f6f7f8;
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.content .left .c-l-header .addr .add-triangle {
  width: 0;
  height: 0;
  border-top: 5px solid #0079d3;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  margin-top: 5px;
  margin-left: 10px;
}
.content .left .c-l-header .new {
  font-size: 14px;
  margin-right: 18px;
}
.content .left .c-l-header .top {
  font-size: 14px;
}
.content .left .c-l-header .sort {
  margin-left: 300px;
  display: flex;
  color: #0079d3;
  display: -webkit-flex;
  align-items: center;
}
.content .left .c-l-header .sort .sort-triangle {
  width: 0;
  height: 0;
  border-top: 5px solid #0079d3;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  margin-top: 5px;
  margin-left: 10px;
}
.content .left .c-l-list .c-l-item {
  list-style: none;
  border-radius: 4px;
  padding-left: 40px;
  cursor: pointer;
  border: 1px solid #CCC;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #878a8c;
  position: relative;
}
.content .left .c-l-list .c-l-item .post {
  align-items: center;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  left: 0;
  padding: 8px 4px 8px 0;
  position: absolute;
  top: 0;
  width: 40px;
  border-left: 4px solid transparent;
  background: #f8f9fa;
}
.content .left .c-l-list .c-l-item .post .iconfont {
  margin-right: 0;
}
.content .left .c-l-list .c-l-item .post .down {
  transform: scaleY(-1);
}
.content .left .c-l-list .c-l-item .post .text {
  color: #1A1A1B;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  pointer-events: none;
  word-break: normal;
}
.content .left .c-l-list .c-l-item .l-container {
  padding: 15px;
}
.content .left .c-l-list .c-l-item .l-container .con-title {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: none;
  word-break: break-word;
}
.content .left .c-l-list .c-l-item .l-container .con-cover {
  height: 512px;
  width: 100%;
  background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1585999647247&di=7e9061211c23e3ed9f0c4375bb3822dc&imgtype=0&src=http%3A%2F%2Fi1.hdslb.com%2Fbfs%2Farchive%2F04d8cda08e170f4a58c18c45a93c539375c22162.jpg") no-repeat;
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 10px;
}
.content .left .c-l-list .c-l-item .l-container .user-btn {
  font-size: 12px;
  display: flex;
  display: -webkit-flex;
}
.content .left .c-l-list .c-l-item .l-container .user-btn .btn-item {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  margin-right: 10px;
}
.content .right {
  width: 312px;
  margin-left: 24px;
  margin-top: 28px;
}
.content .right .communities {
  background-color: #ffffff;
  color: #1a1a1b;
  border: 1px solid #CCC;
  border-radius: 4px;
  overflow: visible;
  word-wrap: break-word;
  margin-bottom: 20px;
}
.content .right .communities .r-c-title {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0, transparent);
  background-color: #0079d3;
  height: 80px;
  width: 100%;
  color: #fff;
  font-size: 20px;
  line-height: 120px;
  padding-left: 10px;
  box-sizing: border-box;
  text-align: center;
}
.content .right .communities .r-c-content .r-c-item {
  align-items: center;
  display: flex;
  display: -webkit-flex;
  height: 48px;
  padding: 0 12px;
  border-bottom: thin solid #edeff1;
  font-size: 14px;
}
.content .right .communities .r-c-content .r-c-item .index {
  width: 20px;
  color: #1c1c1c;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.content .right .communities .r-c-content .r-c-item .icon {
  width: 32px;
  height: 32px;
  background-image: url("../images/avatar.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
}
.content .right .communities .r-c-content .r-c-item:last-child {
  border-bottom: none;
}
.content .right .communities .view-all {
  background-color: #0079d3;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 0;
  width: 280px;
  color: #fff;
  margin: 20px 0 20px 16px;
}
.content .right .r-trending {
  padding-top: 16px;
  width: 312px;
  background-color: #ffffff;
  color: #1a1a1b;
  fill: #1a1a1b;
  border: 1px solid #cccccc;
  border-radius: 4px;
  overflow: visible;
  word-wrap: break-word;
}
.content .right .r-trending .r-t-title {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 12px;
  text-transform: uppercase;
  background-color: #ffffff;
  border-radius: 3px 3px 0 0;
  color: #1A1A1B;
  display: -ms-flexbox;
  display: flex;
  fill: #1A1A1B;
  padding: 0 12px 12px;
}
.content .right .r-trending .rank {
  padding: 12px;
}
.content .right .r-trending .rank .r-t-cell {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.content .right .r-trending .rank .r-t-cell .r-t-cell-info {
  display: flex;
}
.content .right .r-trending .rank .r-t-cell .avatar {
  width: 32px;
  height: 32px;
  background: url("../images/avatar.png") no-repeat;
  background-size: cover;
  margin-right: 10px;
}
.content .right .r-trending .rank .r-t-cell .info {
  margin-right: 10px;
}
.content .right .r-trending .rank .r-t-cell .info .info-title {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-overflow: ellipsis;
  width: 144px;
}
.content .right .r-trending .rank .r-t-cell .info .info-num {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding-bottom: 4px;
}
.content .right .r-trending .rank .r-t-cell .join-btn {
  width: 106px;
  height: 32px;
  line-height: 32px;
  background-color: #0079d3;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}
.top-btn {
  width: 128px;
  height: 32px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: #0079d3;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
}
